################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GDrive/obj/Debug
/GDrive/GDrive.sln
/GDrive/bin/Debug/GDrive.vshost.exe.manifest
/GDrive/bin/Debug/GDrive.vshost.exe.config
/GDrive/bin/Debug/GDrive.vshost.exe
/GDrive/bin/Debug/GDrive.exe.config
/GDrive/bin/Debug
/GDrive/.vs/GDrive/v14/.suo
/GDrive/.vs/GDrive/v14
/GDrive/client_secret.json
